<body>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
        <div class="card-body">
          <h3 class="card-title">{{adventure.name}}</h3>
          <h4>{{adventure.price}}</h4>
          <p class="card-text">{{adventure.description}}</p>
          <a href="#" class="btn btn-success">Add to cart</a>
        </div>
      </div>
      <!-- /.card -->

      <div *ngFor="let comment of comments" class="card card-outline-secondary my-4">
        <div class="card-header">
          Commentaires
        </div>
        <div class="card-body">
          <p>{{comment.commentaire}}</p>
          <small class="text-muted">{{comment.dateComment}}</small>
          <hr>
        </div>
      </div>

          <div class="row">
            <div class="col-xs-4">
              <button *ngIf = "addCommentStatus === false" (click) = "addComment()" class ="btn btn-success" id="modifier" type = "submit">Commenter</button>
            </div>

        </div>

      <div id="modifForm" class="row" *ngIf = "addCommentStatus === true">

        <div class="col-md-12 form-group">
          <label for="">Description </label> <input type="text"
                                                         class="form-control" name="commentaire" required
                                                         [(ngModel)]="comment.commentaire" #commentaire="ngModel"
                                                         textDirective="commentaire" autocomplete="off" notEmpty="lastName"
                                                         placeholder="Entrez votre commentaire" />
        </div>
      </div>
      <div class="col-xs-4">
        <button *ngIf = "addCommentStatus === true" (click) = "newComment()" class ="btn btn-success" id="valider" type = "submit">Valider</button>
      </div>
      <div class="col-xs-4">
        <button *ngIf = "addCommentStatus === true" (click) = "ngOnInit()" class ="btn btn-success" id="annuler" type = "submit">Annuler</button>
      </div>
      </div>
      <!-- /.card -->


    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
